.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.header-input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}
.header-icons {
  display: flex;
  align-items: center;
}
.header-input > input {
  flex: 1;
  border: none;
}
.input-search-button {
  width: 50px;
  background-color: antiquewhite;
  border-left: 1px solid rgb(97, 96, 93);
  color: gray;
}
.header-icons {
  margin-left: 10px;
}
